{% extends "base.html" %} {% block content %}
<div class="forgot-wrapper">
  <h2 class="forgot-title">Reset your password</h2>

  <form method="POST" class="forgot-form">
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Enter your Email"
      class="forgot-input"
      required
    />

    <button type="submit" class="auth-button">Continue</button>
  </form>

  <div class="forgot-links">
    <a href="{{ url_for('auth.login') }}">Back to login</a>
  </div>
</div>
{% endblock %}
