{% extends "base.html" %}

{% block content %}

<div class="fullscreen-centre">
    <div id="login-section" class="fullscreen-centre">
        <div class="card-lg ">
            <h2 class="card-title text-center">Login</h2>


            <form method="POST" action="{{ url_for('auth.login') }}" class="form-stack">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div>
                    <label class="input-label">Email</label>
                    <input type="text" name="email" required class="input-field">
                </div>

                <div>
                    <label class="input-label">Password</label>
                    <input type="password" name="password" required class="input-field">
                </div>

                <button type="submit" class="auth-button">Login</button>

                <p class="small-centre">
                    No account? <a href="/register" class="link-green">Register</a>
                </p>


            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}