{% extends "base.html" %} {% block content %}
<div class="forgot-wrapper">
  <h2 class="forgot-title">Set a new password</h2>

  <form method="POST" class="forgot-form">
    <label for="password" class="input-label">New password</label>
    <input
      type="password"
      name="password"
      id="password"
      class="forgot-input"
      placeholder="Enter new password"
      required
    />

    <label for="confirm_password" class="input-label">Confirm password</label>
    <input
      type="password"
      name="confirm_password"
      id="confirm_password"
      class="forgot-input"
      placeholder="Confirm new password"
      required
    />

    <button type="submit" class="auth-button">Reset password</button>
  </form>
</div>
{% endblock %}
